{{!< layout}}

        <!-- the Javascript file js/addon.js is imported in the layout -->
        <!-- It contains functions which execute actions for buttons/links in this page -->

<section class="aui-connect-page" role="main" style="margin: 10px 10px 10px 10px;">

<div class="aui-group">
  <div class="aui-item">
    <h2>Room language</h2>

    <small>All posts to this room will be translated to this language unless they're already posted in that language</small>
    <!-- Trigger -->
    <form class="aui">
      <select name="room-lang" id="room-lang" class="select">
        {{#each languages as |name code|}}
          <option value="{{code}}">
            {{name}} ({{code}})
          </option>
        {{/each}}
      </select>
    </form>

    <button class="aui-button aui-button-compact" style="margin-top:10px;" id="save-room" aria-disabled="true" disabled>Save</button>

  </div>
</div>

<div class="aui-group">
  <div class="aui-item">
    <h2>My language</h2>

    {{!-- <span class="aui-lozenge aui-lozenge-error">The settings below are not yet implemented...</span> --}}

{{!--     <div class="checkbox">
      <input class="checkbox" type="checkbox" name="auto-translate" id="auto-translate">
      <label for="auto-translate">Always translate my posts</label>
    </div>
 --}}
    <small>This is used for private translations</small>
    <form class="aui">
      <select name="my-lang" id="my-lang" class="select">
        <option value=""></option>
        {{#each languages as |name code|}}
          <option value="{{code}}">
            {{name}} ({{code}})
          </option>
        {{/each}}
      </select>
    </form>

   <button class="aui-button aui-button-compact" style="margin-top:10px;" id="save-my" aria-disabled="true" disabled>Save</button>

  </div>
</div>

<small id="polyglot-messages"></small>

</section>

<footer class="aui-connect-footer">Made with &#10084; by Yann Jouanique</footer>

<script type="text/javascript">
  var displayMessage = function(txt,icon) {
    $("#polyglot-messages").html('<span class="aui-icon aui-icon-small aui-iconfont-'+icon+'"></span> '+txt);
  };

  var enableButton = function(selector) {
    $(selector).attr('aria-disabled', 'false');
    $(selector).removeAttr('disabled');
  };

  var disableButton = function(selector) {
    $(selector).attr('aria-disabled', 'true');
    $(selector).attr('disabled');
  };

  var updateGlance = function() {
    HipChat.auth.withToken (function(err, token) {
      if (err) {
        // error
      }
      else {
        //Include this token in a REST call to the add-on backend
        $.ajax({
          type: "POST",
          url: "update-glance",
          headers: { 'authorization': 'JWT ' + token },
          success: function(response) {
            console.log('Response: '+response);
            callback(selectedLang);
          }
        });
      }
    });
  }

  var saveSettings = function(scope,callback) {
    var scope = scope || 'room';
    var selectedLang = $("#"+scope+"-lang").val();
    // TODO: validate lang...

    //Retrieve a JWT token
    HipChat.auth.withToken (function(err, token) {
      if (err) {
        // error
      }
      else {
        //Include this token in a REST call to the add-on backend
        $.ajax({
          type: "POST",
          url: scope+"-language",
          headers: { 'authorization': 'JWT ' + token },
          data: {
            language: selectedLang,
          },
          // dataType: 'json',
          success: function(response) {
            console.log('Response: '+response);
            callback(selectedLang);
          }
        });
      }
    });
  };

  $(document).ready(function(){
    $("#room-lang > option").each(function() {
      // console.log('Option value: '+this.value);
      if(this.value == "{{settings.language}}") {
        $(this).attr('selected', 'selected');
      }
    });

    $("#my-lang > option").each(function() {
      // console.log('Option value: '+this.value);
      if(this.value == "{{myLanguage}}") {
        $(this).attr('selected', 'selected');
      }
    });
  });

  $("#room-lang").change(function(event) {
    enableButton('#save-room');
  });

  $("#my-lang").change(function(event) {
    enableButton('#save-my');
  });

  $("#auto-translate").change(function(event) {
    enableButton('#save-my');
  });

  $("#save-room").click(function(event) {
    saveSettings('room',response => {
      disableButton("#save-room");
      displayMessage("Room language saved","approve");
      updateGlance();
    });
  });

  $("#save-my").click(function(event) {
    saveSettings('my',response => {
      disableButton("#save-my");
      displayMessage("My language saved","approve");
    });
  });


</script>

