{{!< layout}}

<div class="aui-group" style="margin: 10px;">
  <div class="aui-item">

    {{#unless languageCode}}
      <p><span class="aui-icon aui-icon-small aui-iconfont-warning"></span> We could not find your language... did you set it up in the sidebar?</p>
    {{else}}
      <h1>Original text</h1>
      <blockquote>
        <p>{{original}}</p>
        <cite>{{poster}}</cite>
      </blockquote>

      {{#if translation}}
        <h1>Translation to {{languageName}} <span class="aui-lozenge aui-lozenge-current">{{languageCode}}</span></h1>
        <blockquote>
          <p>{{translation}}</p>
        </blockquote>
      {{else}}
        <p><span class="aui-icon aui-icon-small aui-iconfont-warning"></span> Ooops, something went wrong...
      {{/if}}
    {{/unless}}

  </div>
</div>
